/* Colours used: 

Main text color (dark grey): #101111;
Heading color (darker grey): #050505; 
Background color (pale yellow): #FBFBF3;
Primary Color (dark blue): #263752; 
Secondary Color (pale orange): #e8d3c3;
*/

/* .root {
  --primary-color: #263752;
  --main-text-color: #101111;
  --background-color: #FBFBF3;
  
} */


body {
  background-color: #FBFBF3;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Mulish', sans-serif; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;  
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}


.page-header {
  display: block;
  text-align: center;
}

#main_logo {
  width: 250px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.pokemon-list {
  /* background-color: #e8d3c3; */
  margin: auto;
  margin-top: 25px;
  max-width: 500px;
  list-style-type: none;
  border-radius: 5%;
}

#pokemon-list_Title {
  text-align: center;
}


.pokemon-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}